.navbar ul.nav > li.active > a, .navbar ul.nav > li.open > a {
    text-decoration: none !important;
    border-top: solid 5px #BF3D3F;
    font-weight: bold;
}



#intro .item .logo {
    margin-bottom: 130px;

}
      @media only screen and (max-width: 770px) {
        #intro .item .logo{
    margin-bottom: 0px;
        }
      }

.navbar-brand {
    float: left;
    padding: 10px 15px;
    color: #5091da;
    font-family: 'Roboto Slab', serif;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 220px;
    height: 80px;
}




.redwhitebtn{
        color: #fff;
        background-color: #BF3D3F;
        border:1px solid #fff; 
        border-radius: 1em;
        font-size: 20px;
        padding: .5em 1em;
        margin-right: .25em;
      }
      .redwhitebtn:hover{
            background-color: #fff;
            color: #BF3D3F;
            border:1px solid #BF3D3F; 
      }